<html>
<head>
  <title>My Company</title>
  <script src="/lib/jquery.3.5.1.min.js"></script>
  <script src="/sdk/app.sdk.js"></script>
  <script src="/js/login.js"></script>
</head>
<body>
  <a href="/">Home</a>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/login">Login</a>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/signup">Signup</a>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="/signup/early_access">Get Early Access!</a>

  <hr>

  <h1>Login</h1>
  <div id="success"></div>
  <div id="error"></div>
  <form>
    <div>
      <label for="email">Email</label>
      <input id="email" type="email" autocomplete="on" />
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" type="password" autocomplete="off" />
    </div>

    <button disabled>Login</button> or <a href="/signup">Signup</a>
  </form>

  <a href="/password/forgot">Forgot your passsword?</a>
</body>
</html>
