<html>
<head>
  <title>My Company</title>
  <script src="/lib/jquery.3.5.1.min.js"></script>
  <script src="/sdk/app.sdk.js"></script>
  <script src="/js/resetPassword.js"></script>
</head>
<body data-id="<%= id %>" data-token="<%= token %>">
  <h1>Reset your password</h1>
  <div id="success"></div>
  <div id="error"></div>
  <form>
    <div>
      <label for="password">New Password</label>
      <input id="password" type="password" autocomplete="off" />
    </div>

    <div>
      <label for="password-confirmation">Confirm your Password</label>
      <input id="password-confirmation" type="password" autocomplete="off" />
    </div>

    <button disabled>Reset</button>
  </form>
</body>
</html>
