<html>
  <head>
    <title>Home</title>
    <script src="/lib/jquery.3.5.1.min.js"></script>
    <script src="/sdk/auth.sdk.js"></script>
  </head>
  <body>
    <a href="/">Home</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/login">Login</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/signup">Signup</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/signup/early_access">Get Early Access!</a>

    <hr>

    <h1>My Company</h1>

    <p id="welcome">Welcome!</p>
  </body>
</html>
